@charset "UTF-8";

/* 전체 디폴트 설정 값 조정 */
* {
  margin: 0 auto;
  padding: 0;
  color: black;
  list-style-type: none;
}

a {
  text-decoration: none;
}

table {
  text-align: center;
}

.illust {
  background-image: url("../images/illust_background.png");
}
.cartoon {
  background-image: url("../images/cartoon_background.png");
}
.etc {
  background-image: url("../images/etc_background.png");
}

.submenu-cartoon {
  border: 3px solid black;
  color: black;
  background-color: white;
  background-image: url("../images/cartoon_background.png");
}
.submenu-cartoon:hover {
  color: white;
  background-image: none;
  background-color: gray;
}
.submenu-illust {
  border: 3px solid black;
  color: black;
  background-color: white;
  background-image: url("../images/illust_background.png");
}
.submenu-illust:hover {
  color: white;
  background-image: none;
  background-color: gray;
}

/* 하단부 콘텐츠 */
footer {
  width: 100%;
  background-color: gray;
  text-align: center;
}
